.main-home {
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-home {
  width: 50%;
  max-width: 500%;
  min-width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-home h2 {
  font-size: 30px;
  margin: 5px 0px;
}

.container-home button {
  width: 40%;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .container-home h2 {
    font-size: 27px !important;
  }
  .container-home button {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .container-home h2 {
    font-size: 20px !important;
  }

  .container-home button {
    font-size: 12px;
  }
}
